.order_form input {
    margin-top: 30px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
}

.error {
    color: red;
}

.form-select {
    margin-top: 30px;
    margin-left: 525px;
    width: 300px;
    text-align: center
}

@media only screen and (max-width: 480px) {
    .form-select {
        margin: 0 auto;
        width: 305px;
        text-align: center
    }
}