.allCard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.singleCard {
    box-shadow: 2px 2px #969696;
}

.singleReview {
    box-shadow: 1px 2px #969696;
    width: 500px;
}

.singleReview Img {
    width: auto;
}

.singleReview Body {
    width: auto;
}

.CardImage {
    height: 250px;
}

.reviewCard {
    display: flex;
    justify-content: space-around;
}

.parallax {
    background-image: url("https://i.postimg.cc/8P1M7rpN/pexels-h-emre-773471-Copy.jpg");
    /* background-image: url("https://i.postimg.cc/15QdjM9P/pexels-h-emre-773471-Copy-modified.jpg"); */
    min-height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clinetPhoto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.clinetPhoto img {
    width: 100%;
    height: 100%;
    border: 10px solid #fff;
    border-radius: 5px;
    box-shadow: 12px 12px 24px gray;
}

@media only screen and (max-width: 480px) {
    .allCard {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .reviewCard {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .clinetPhoto {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .singleReview {
        width: 250px;
    }
}